<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <% include partials/head %> 
	<script>
    $(document).ready(function(){
      $("#workflow-form").submit(function(event) {
        event.preventDefault();

        $("#results").empty();

        $.post($(this).attr('action'), $(this).serialize(), function(result) {
          $("#results").html(result);
        })
      });
    }); 	
  </script>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
			<form method="post" id="workflow-form" >
		    <div class="col-md-3">
	  			<label for="origin" class="col-md-4">Origin:</label>
	  			<input type="text" name="origin" id="origin" value="BUE" class="col-md-8"/>
    		</div>
		    <div class="col-md-3">
	  			<label for="destination" class="col-md-4">Destination:</label>
	  			<input type="text" name="destination" id="destination" value="LIM" class="col-md-8"/>
	    	</div>
		    <div class="col-md-3">
		  		<label for="departureDate" class="col-md-4">Departure:</label>
		  		<input type="date" name="departureDate" id="departureDate" value="2019-09-09" class="col-md-8"/>
		    </div>
		    <div class="col-md-3">
			  	<label for="arrivalDate" class="col-md-4">Arrival:</label>
			  	<input type="date" name="arrivalDate" id="arrivalDate" value="2019-09-14" class="col-md-8"/>
		    </div>
		    <div class="col-md-3">
			  	<label for="cabin" class="col-md-4">Clase:</label>
			  	<input type="text" name="cabin" id="cabin" value="Y" class="col-md-8"/>
		    </div>
		    <div class="col-md-3">
			  <!-- 	<label for="baggage" class="col-md-4">Valijas:</label> -->
			  <!-- 	<input type="text" name="baggage" id="baggage" value="0" class="col-md-8"/> -->
		    </div>
		    <div class="col-md-3">
			  <!-- 	<label for="airline" class="col-md-4">Aerolinea:</label> -->
			  <!-- 	<input type="text" name="airline" id="airline" value="AR" class="col-md-8"/> -->
		    </div>
		    <div class="col-md-3">
				  <input type="submit" value="Run workflow" id="trigger"/>
		    </div>
			</form>
		</div>
	</div>
  <div class="row" style="margin-top: 50px; padding: 10px;">
		<div class="col-md-12">
      <div id="results">resultados:</div>
		</div>
  </div>
</div>

</body>
<% include partials/script %>
</html>
